<p>Cars Report : (Listing from array)</p>

<label for="brand">Select Brand : </label>
<input type="radio" name="brand" value="Audi" [(ngModel)]="carBrand" (change)="optData = audiCars">Audi
<input type="radio" name="brand" value="BMW" [(ngModel)]="carBrand" (change)="optData = bmwCars">BMW
<input type="radio" name="brand" value="Ferrari" [(ngModel)]="carBrand" (change)="optData = ferrariCars">Ferrari

<br><br>

<label for="owner">Car Owner : </label>
<input type="text" name="owner" #name placeholder="Owner name" value="undefined">

<br><br>

<label for="model">Car Model : </label>
<select name="model" #model>
  <option value="undefined">-----Select-----</option>
  <option *ngFor="let model of optData">{{model}}</option>
</select>

<br><br>

<label for="seat">Seater : </label>
<input type="number" name="seat" #seat min="2" max="6" step="2" value="2">

<br><br>

<label for="open">Is open Car : </label>
<input type="checkbox" name="open" #open>

<br><br>

<label for="color">Car Color : </label>
<select name="color" #color>
  <option value="black">-----Default-----</option>
  <option value="black">Black</option>
  <option value="red">Red</option>
  <option value="blue">Blue</option>
  <option value="yellow">Yellow</option>
</select>

<br><br>

<button (click)="addCar(name.value, model.value, seat.value, open.checked, color.value)">Add Car</button>

<br>

<div style="width: 50%; display: inline-block; vertical-align: top">
  <p>In stock :</p>
  <button (click)="moveCar('stock', 0)">Add to Production</button>
  <app-car-list [carList]="carList"></app-car-list>
</div>


<div style="width: 50%; display: inline-block; vertical-align: top">
  <p>In Production :</p>
  <button (click)="moveCar('prod', 0)">Add to Stock</button>
  <app-car-list [carList]="prodCarList"></app-car-list>
</div>