span {
  margin-right: 24px;
}

span:first-child {
  margin-left: 24px;
}

.last-child {
  margin-right: 0;
  cursor: pointer;
  color: #24405c;
  text-decoration: underline;
}

li {
  list-style-position: outside;
}