@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,600i,700|Rubik:400,500,500i,700,900&display=swap');
.heading {
  padding: 24px;
  border-bottom: 1px solid #333;
}

.heading h1 {
  font-family: 'Josefin Sans';
}

ul li {
  list-style: none;
}

.action-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.action-btn {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 0;
  position: relative;
  outline: 0;
  appearance: none;
}

.action-btn:active {
  background: #333 !important;
}

.action-btn::after {
  color: #fff;
  position: absolute;
}

.add-btn {
  background: #2fdb24;
}

.add-btn::after {
  content: '+';
  font-size: 19px;
  top: 3px;
  left: 9px;
}

.remove-btn {
  background: #db2424;
}

.remove-btn::after {
  content: '-';
  font-size: 28px;
  top: -4px;
  left: 10px;
}

.action-txt {
  margin-left: 6px;
  position: relative;
}

.action-txt .price-txt {
  font-size: 14px;
}

.show-hide-checkbox {
  appearance: none;
  height: 24px;
  width: 42px;
  background: #ddd;
  border-radius: 12px;
  outline: 0;
  position: relative;
}

.show-hide-checkbox::after {
  content: '';
  height: 20px;
  width: 20px;
  position: absolute;
  left: 2px;
  top: 2px;
  background: #333;
  border-radius: 50%;
  transition: 0.3s;
}

.show-hide-checkbox:checked::after {
  left: calc(100% - 22px);
  background: #2fdb24;
}

.action-container sup {
  position: absolute;
  top: -6px;
  right: -18px;
}

.flex-container {
  display: flex;
  align-items: stretch;
  font-family: 'Rubik';
  color: #333;
}

.img-box img {
  height: 100%;
}

.flex-container>div {
  width: 50%;
  padding: 0 24px;
}

.flex-container>.right {
  border-left: 1px solid #333;
}

.flex-container>.left {
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.tl-ul .type-name {
  font-size: 22px;
  font-family: 'Josefin Sans';
}

.tl-ul .tl-li {
  padding: 24px 0;
  border-bottom: 1px solid #333;
}

.tl-ul .tl-li:last-child {
  border: 0;
}

.il-ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 8px 0 0;
}

.il-ul .il-li {
  padding: 16px;
}

.item-container {
  height: 138px;
  width: 178px;
  position: relative;
}

.item-container .img-box {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 8px 0 #ddd;
}

.item-container .img-box .item-name {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.item-container .img-box .item-name p {
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.item-container .action-check-box {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 9;
}

.item-container .action-check-box [type="checkbox"] {
  height: 32px;
  width: 32px;
  appearance: none;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #bf8d3c;
  outline: none;
  transition: 0.3s;
  position: relative;
}

.item-container .action-check-box [type="checkbox"]::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 5px;
  height: 8px;
  width: 24px;
  border: 5px solid #fff;
  border-top: 0;
  border-right: 0;
  transform: rotate(-45deg);
  transition: 0.3s;
  opacity: 0;
}

.item-container .action-check-box [type="checkbox"]:checked {
  background: #2fdb24;
  border: 2px solid #2fdb24;
  box-shadow: 0 0 12px 0px #2fdb24;
}

.item-container .action-check-box [type="checkbox"]:checked::after {
  opacity: 1;
}

.oil-ul .oil-li {
  padding: 24px;
  box-shadow: 0 0 8px 0 #ddd;
  margin: 24px;
  border-radius: 8px;
  transition: 0.3s;
}

.oiql-ul {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.oiql-ul .oiql-li {
  width: 100% !important;
  flex-shrink: 0;
}

.item-details-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 24px 0 12px;
}

.item-details-container>div {
  padding: 0 24px;
  border-right: 1px solid #333;
}

.item-details-container>div:last-child {
  border: 0;
}

.item-details-container .img-box {
  height: 160px;
  width: 180px;
  overflow: hidden;
  border-radius: 8px;
}

.item-details-container .img-container {
  flex-grow: 0;
}

.stpl-container {
  width: calc(100% - 230px);
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  min-height: 160px;
}

.stpl-ul {
  display: flex;
  flex-wrap: wrap;
}

.stpl-ul .stpl-li {
  width: 10%;
  min-width: 170px;
  padding: 8px 0;
}

.stpl-container>.action-container {
  width: 100%;
  padding: 8px 0;
  overflow: auto;
}

.tpl-container {
  padding: 12px 0;
}

.tpl-ul .tpl-li {
  width: 25%;
  min-width: 170px;
}

.oisl-container {
  padding: 12px 0;
}

.oisl-ul, .perf-act-ul {
  justify-content: space-around;
}

.action-radio {
  height: 28px;
  width: 28px;
  appearance: none;
  background: #fff;
  border: 2px solid #bf8d3c;
  border-radius: 50%;
  position: relative;
  outline: none;
}

.action-radio::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 5px;
  height: 6px;
  width: 20px;
  border: 4px solid #fff;
  border-top: 0;
  border-right: 0;
  transform: rotate(-45deg);
  transition: 0.3s;
  opacity: 0;
}

.action-radio:checked {
  background: #2fdb24;
  border-color: #2fdb24;
  box-shadow: 0 0 12px 0px #2fdb24;
}

.action-radio:checked::after {
  opacity: 1;
}

.oi-cmn-ul {
  padding: 12px 24px 0;
  display: flex;
  flex-wrap: wrap;
}

.oi-cmn-ul .oi-cmn-li {
  padding: 8px 0;
}