@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Rubik&display=swap');
.heading {
  padding: 24px;
}

h1, h2 {
  font-family: 'Josefin Sans';
}

h2 {
  color: #333;
}

.flex-container {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  color: #333;
  font-family: 'Rubik';
}

.flex-container .counter {
  color: #888;
}

.flex-container>div {
  width: calc(50% - 1px);
  padding: 24px;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
}

.flex-container>div:last-child {
  border: none;
}

.flex-container .pizza-menu {
  align-self: flex-start;
  position: sticky;
  top: 0;
}

.flex-container .pizzalist-container {
  padding: 20px;
}

.flex-container .pizzalist-container .pl-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.flex-container .pizzalist-container .pl-ul>li {
  width: 200px;
  height: 180px;
  position: relative;
  margin: 16px;
  border-radius: 16px;
  border: none;
  box-shadow: 0 0 12px #aaa;
}

.flex-container .pizzalist-container .pl-ul>li .pizza-container {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.flex-container .pizzalist-container .pl-ul>li .pizza-container img {
  height: 100%;
  transform: translateX(-24px);
}

.flex-container .pizzalist-container .pl-ul>li .pizza-container .pizza-name {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  z-index: 1;
  background: rgba(0, 0, 0, 0.75)
}

.flex-container .pizzalist-container .pl-ul>li .pizza-container .pizza-name p {
  text-align: center;
  color: #fff;
  font-weight: 600;
}

.flex-container .pizzalist-container .pl-ul>li .check-box {
  position: absolute;
  top: -16px;
  right: -16px;
}

.flex-container .pizzalist-container .pl-ul>li .check-box input[type="checkbox"] {
  height: 40px;
  width: 40px;
  -webkit-appearance: none;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #bf8d3c;
  outline: none;
  cursor: pointer;
  position: relative;
}

.flex-container .pizzalist-container .pl-ul>li .check-box input[type="checkbox"]::after {
  content: '';
  position: absolute;
  left: 8px;
  top: 1px;
  height: 10px;
  width: 30px;
  border: 6px solid #fff;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  opacity: 0;
}

.flex-container .pizzalist-container .pl-ul>li .check-box input:checked[type="checkbox"] {
  background: #2fdb24;
  border-color: #2fdb24;
  box-shadow: 0 0 16px 0px #2fdb24;
}

.flex-container .pizzalist-container .pl-ul>li .check-box input:checked[type="checkbox"]::after {
  opacity: 1;
}

.topping-list {
  padding: 24px;
}

.topping-list ul {
  display: flex;
  padding: 16px;
  flex-wrap: wrap;
}

.topping-list ul>li {
  width: calc(33.33% - 32px);
  list-style: none;
  margin: 16px;
}

.topping-list ul>li button {
  padding: 8px 16px;
  background: #2fdb24;
  color: #fff;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.topping-list ul>li button:active {
  background: #333 !important;
}

.flex-container .ordered-pizzalist-container .opl-ul>li {
  height: auto;
  width: 90%;
  padding: 32px;
}

.flex-container .ordered-pizzalist-container .opl-ul>li .pizza-name p {
  font-size: 20px;
}

.flex-container .ordered-pizzalist-container .opl-ul>li .pizza-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
}

.flex-container .ordered-pizzalist-container .opl-ul>li .pizza-container>div {
  min-width: 200px;
  padding: 24px 0 32px;
  box-sizing: border-box;
}

.flex-container .ordered-pizzalist-container .opl-ul>li .pizza-container .img-container {
  height: 280px;
  max-width: 320px;
  padding-right: 32px;
  border-right: 1px solid #ddd;
}

.flex-container .ordered-pizzalist-container .opl-ul>li .pizza-container .img-box {
  height: 100%;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.flex-container .ordered-pizzalist-container .opl-ul>li .pizza-container .img-box img {
  transform: translateX(0);
}

.flex-container .ordered-pizzalist-container .opl-ul>li .pizza-container .topping-container {
  width: calc(100% - 320px);
}

.flex-container .ordered-pizzalist-container .opl-ul>li .pizza-container .topping-list ul {
  padding: 0;
}

.flex-container .ordered-pizzalist-container .opl-ul>li .pizza-container .topping-list ul>li {
  width: calc(50% - 32px);
}

.flex-container .ordered-pizzalist-container .opl-ul>li .pizza-container .topping-list ul>li button {
  background: #db2424;
  font-weight: 600;
  padding: 6px 16px;
}

.flex-container .ordered-pizzalist-container .opl-ul>li .size-container {
  padding: 24px 0;
}

.flex-container .ordered-pizzalist-container .opl-ul>li .size-container .opl-sl-ul {
  display: flex;
  justify-content: space-evenly;
}

.flex-container .ordered-pizzalist-container .opl-ul>li .size-container .opl-sl-ul>li {
  list-style: none;
  padding: 20px 0 0;
}

.flex-container .ordered-pizzalist-container .opl-ul>li .size-container .opl-sl-ul>li>* {
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px;
}

.flex-container .ordered-pizzalist-container .opl-ul>li .size-container .opl-sl-ul>li input[type="radio"] {
  height: 24px;
  width: 24px;
  position: relative;
  -webkit-appearance: none;
  background: #fff;
  border: 2px solid #bf8d3c;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.flex-container .ordered-pizzalist-container .opl-ul>li .size-container .opl-sl-ul>li input[type="radio"]::after {
  content: '';
  position: absolute;
  left: 4px;
  top: -1px;
  height: 6px;
  width: 20px;
  border: 4px solid #fff;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  opacity: 0;
}

.flex-container .ordered-pizzalist-container .opl-ul>li .size-container .opl-sl-ul>li input:checked[type="radio"] {
  box-shadow: 0 0 16px 0 #2fdb24;
  border-color: #2fdb24;
  background: #2fdb24;
}

.flex-container .ordered-pizzalist-container .opl-ul>li .size-container .opl-sl-ul>li input:checked[type="radio"]::after {
  opacity: 1;
}

.flex-container .ordered-pizzalist-container .opl-ul>li .pizza-total-price {
  padding: 24px 0;
}

.flex-container .ordered-pizzalist-container .opl-ul>li .check-box input[type="checkbox"]::after {
  left: 6px;
  top: 15px;
  height: 0;
  width: 24px;
  border: none;
  border-bottom: 6px solid #fff;
  transform: rotate(0deg);
}

.flex-container .ordered-pizzalist-container .opl-ul>li .check-box input:checked[type="checkbox"] {
  background: #db2424;
  border-color: #db2424;
  box-shadow: 0 0 16px 0px #db2424;
}

@media screen and (max-width: 1460px) {
  .topping-list ul>li {
    width: calc(50% - 32px);
  }
}

@media screen and (max-width: 1068px) {
  .topping-list ul>li {
    width: 100%;
  }
}