<div class="heading">
  <h1>{{title}}</h1>
</div>

<!-- <p>Add New Pizza :</p>
<input type="text" #newPizza>
<button (click)="addPizza(newPizza.value)">Add Pizza</button> -->

<!-- <p>Add New Pizza :</p>
<input type="text" #newPizza>
<button (click)="addPizza(newPizza.value)">Add Pizza</button>

<p>Pizza List</p>
<ol>
  <li *ngFor="let pizza of pizzaList; let i = index">
    <p>{{pizza.name}} <button (click)="addToOrder(i)">Add to Order</button></p>
  </li>
</ol>

<p>Topping List</p>
<ol>
  <li *ngFor="let topping of toppingList; let i = index">
    <p>{{topping.name}} <button (click)="addTopping(i)">Add {{topping.name}}</button></p>
  </li>
</ol>

<hr>

<p>Ordered Pizza List</p>
<ol>
  <li *ngFor="let pizza of orderedPizzaList; let i = index">
    <p>{{pizza.name}}</p>
    <ol>
      <li *ngFor="let topping of pizza.addedToppingList">
        <p>{{topping.name}}</p>
      </li>
    </ol>
  </li>
</ol> -->

<hr>

<div class="flex-container">
  <div class="pizza-menu">
    <h2>Pizza List :</h2>
    <div class="pizzalist-container">
      <ul class="pl-ul">
        <li *ngFor="let pizza of pizzaList; let i = index">
          <div class="pizza-container">
            <img src="../assets/images/Pizza/ItalianPizza.jpg" alt="">
            <div class="pizza-name">
              <p>{{pizza.name}}</p>
            </div>
          </div>
          <div class="check-box">
            <input type="checkbox" [(ngModel)]="pizza.isOrdered" (change)="addToOrder(i)" />
          </div>
        </li>
      </ul>
    </div>

    <hr>

    <div class="topping-list">
      <h2>Add topping to {{selectedPizza | titlecase}} Pizza :</h2>
      <ul>
        <li *ngFor="let topping of toppingList; let i = index">
          <button>+</button>&emsp;{{topping.name}}
        </li>
      </ul>
    </div>
  </div>

  <div>
    <h2>Ordered Pizza :</h2>
    <div class="pizzalist-container ordered-pizzalist-container">
      <ul class="pl-ul opl-ul">
        <li *ngFor="let pizza of orderedPizzaList; let i = index">
          <div class="pizza-name">
            <p>{{pizza.name}} Pizza : <span class="counter">(2)</span></p>
          </div>
          <div class="pizza-container">
            <div class="img-container">
              <div class="img-box">
                <img src="../assets/images/Pizza/ItalianPizza.jpg" alt="">
              </div>
            </div>
            <div class="topping-container topping-list">
              <ul class="opl-tl-ul">
                <li *ngFor="let topping of pizza.addedToppingList; let i = index">
                  <button>-</button>&emsp;{{topping.name}} <span class="counter">(2)</span>
                </li>
              </ul>
            </div>
          </div>

          <hr>

          <div class="size-container">
            <div class="pizza-name">
              <p>Select Size :</p>
            </div>
            <ul class="opl-sl-ul">
              <li *ngFor="let size of pizza.size">
                <input type="radio" name="size"><span>{{size | titlecase}}</span>
              </li>
            </ul>
          </div>
          <div class="check-box">
            <input type="checkbox" [(ngModel)]="pizza.isOrdered" (change)="removeFromOrder(i)" />
          </div>

          <hr>

          <div class="pizza-total-price">
            <div class="pizza-name">
              <p>Total price for {{pizza.name}} Pizza :</p>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>