<div class="heading">
  <h1>{{title}}</h1>
</div>

<div class="flex-container">
  <div class="left">
    <ul class="tl-ul">
      <li class="tl-li" *ngFor="let type of typeList">
        <p class="type-name">{{type.name}} :</p>
        <ul class="il-ul">
          <li class="il-li" *ngFor="let item of type.itemList; let i = index">
            <div class="item-container">
              <div class="img-box">
                <img src="{{item.image}}" alt="">
                <div class="item-name">
                  <p>{{item.name | titlecase}}</p>
                </div>
              </div>
              <div class="action-check-box">
                <input type="checkbox" [(ngModel)]="item.isOrdered" (change)="orderItem(item)">
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="right">
    <!-- type list -->
    <ul class="tl-ul otl-ul">
      <li class="tl-li otl-li" *ngFor="let type of typeList">
        <p class="type-name">Ordered {{type.name | titlecase}} :</p>
        <!-- item list -->
        <ul class="oil-ul">
          <li class="oil-li" *ngFor="let item of type.itemList">
            <!-- quntity list -->
            <ul class="oiql-ul">
              <li class="oiql-li" *ngFor="let quantity of item.quantityList">
                <p class="item-name">{{item.name | titlecase}} {{type.name | titlecase}}
                  <span *ngIf="item.totalQuantity>1">({{quantity.itemNum}}/{{item.totalQuantity}})</span></p>
                <div class="item-details-container">
                  <div class="img-container">
                    <div class="img-box">
                      <img src="{{item.image}}" alt="">
                    </div>
                  </div>
                  <div class="stpl-container">
                    <!-- selected topping list -->
                    <ul class="stpl-ul">
                      <li class="stpl-li" *ngFor="let selectedTopping of quantity.toppingList">
                        <div class="action-container">
                          <button class="action-btn remove-btn"
                            (click)="quantity.removeTopping(selectedTopping)"></button>
                          <span class="action-txt">{{selectedTopping.name}}
                            <sup *ngIf="selectedTopping.quantity>1">({{selectedTopping.quantity}})</sup></span>
                        </div>
                      </li>
                    </ul>
                    <div class="action-container">
                      <input type="checkbox" class="show-hide-checkbox" [(ngModel)]="quantity.addMoreTopping"
                        (click)="quantity.toggleToppingList()">
                      <span class="action-txt">Add toppings</span>
                    </div>
                  </div>
                </div>
                <div class="tpl-container" *ngIf="quantity.addMoreTopping">
                  <p class="item-name">Add toppings :</p>
                  <!-- global topping list -->
                  <ul class="oi-cmn-ul tpl-ul">
                    <li class="oi-cmn-li tpl-li" *ngFor="let topping of allToppingList">
                      <div class="action-container">
                        <button class="action-btn add-btn" (click)="quantity.addTopping(topping)"></button>
                        <span class="action-txt">{{topping.name}} <span
                            class="price-txt">(Rs.{{topping.price}})</span></span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="oisl-container">
                  <p class="item-name">Select size :</p>
                  <!-- size list -->
                  <ul class="oi-cmn-ul oisl-ul">
                    <li class="oi-cmn-li oisl-li" *ngFor="let size of quantity.itemSize">
                      <div class="action-container">
                        <input type="radio" name="size" class="action-radio">
                        <span class="action-txt">{{size.size | titlecase}} <span
                            class="price-txt">(Rs.{{size.price}})</span></span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="oisl-container">
                  <p class="item-name">Perform Action :</p>
                  <ul class="oi-cmn-ul perf-act-ul">
                    <li class="oi-cmn-li perf-act-ul">
                      <div class="action-container">
                        <button class="action-btn add-btn" (click)="item.addQuantity(quantity)"></button>
                        <span class="action-txt">Add {{item.name | titlecase}} {{type.name}}</span>
                      </div>
                    </li>
                    <li class="oi-cmn-li perf-act-ul">
                      <div class="action-container">
                        <button class="action-btn remove-btn" (click)="item.removeQuantity(quantity)"></button>
                        <span [ngClass]="{cssClass: expression}" class="action-txt">Remove {{item.name | titlecase}}
                          {{type.name}}
                          <span *ngIf="item.totalQuantity>1">({{quantity.itemNum}}/{{item.totalQuantity}})</span>
                        </span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="oisl-container">
                  <p class="item-name">{{item.name}} {{type.name}} Total :</p>

                </div>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>